/* h1 {
    text-align: center;
}

h2 {
    margin-left: 22vw;
    padding: 1vh 0vw;
}

.inputs {
    text-align: center;
    border-radius: 5px solid black;
}

#submit-btn {
    margin-top: 1vh;
    text-align: center;
}

#add-guesses-button {
    background-color: rgb(143, 143, 143);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 45px;
    font-size: 16px;
}

#winner {
    margin-top: 10vw;
    min-width: 25vw;
    display: inline-block;
    position:absolute;
    border: 0em;
}

h3 {
    font-size: xxx-large;
    color: darkorchid;
}

#history {
    margin: 0vw 10vw 0vw 20vw;
    min-width: 25vw;
    display: inline-block;
    border: 0em;
}

#history-winner {
    text-align: center;
} */

body {
    background-color: darkseagreen;
}
h1 {
 font-family: ‘Droid Serif’, Georgia, Times, serif;
 font-size: 49px;
 line-height: 65px;
 align-items: center;
}
p {
 font-family: ‘Droid Sans’, Helvetica, Arial, sans-serif;
 font-size: 14px;
 line-height: 25px;
}
.inputs {
    border-radius: 5px solid black;
    text-align: left;
}
table {
    width: 625px;
    border-spacing: 10px;
}
th {
    text-align: left;
}
table, th, td {
        border:1px solid black;
}
#results {
    display: inline-block;
}
#winner {
    display: inline-block;
}
#history {
    display: inline-block;
}
#restart-button {
    background-color: red;
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

